@page
@model RoomBookingApp.Pages.Bookings.IndexModel

@{
    ViewData["Title"] = "Bookings";
}


<img class="banner" src="/images/in-session-banner.jpg">

<div class="container" width="100%">
    <div class="row">
        <div class="col">
            <h1 id="banner-txt">
                Bookings Manager
            </h1>
            <h5 id="banner-subtxt">
                Create a booking or edit an existing one.
            </h5>
        </div>
    </div>
</div>


<p>
    <a asp-page="Create" class="button">Create New</a>
</p>

<table class="styled-table" width="100%">
    <thead>
        <tr>
            <th>
                User
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].RoomNumber)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                    @Html.DisplayNameFor(model => model.Booking[0].Date)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Subject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Booking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                <a class="btn btn-outline-success" asp-page="./Edit" asp-route-id="@item.BookingID">Edit</a> |
                <a class="btn btn-outline-info" asp-page="./Details" asp-route-id="@item.BookingID">Details</a> |
                <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@item.BookingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
