@page
@model RoomBookingApp.Pages.Bookings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].AllDayBooking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Subject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Booking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllDayBooking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BookingID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BookingID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BookingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
